@import '../css/commstyle.css';

/* Style the quickbar */
.quickbar {
  float: left;
  background-color: #04AA6D;
  margin-left: 5px;
  padding: 20px;
  border-radius: 5px;

  position: absolute;
  top: var(--headerheight);
  /* transform: translate(-50%, -50%); */
  /* top: 0; */
  width: 6.3em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  transition: top 0.8s ease-in-out;
  /* display: none; */
}

.quickbar .quickbar-title {
  font-size: 0.85em;
  min-height: 2em;
  align-content: center;
  /* border-radius: 50%; */
  /* background-color: lime; */
  /* text-decoration: underline; */
  border-bottom: 1px solid grey;
}

.quickbar .quickbar-container {
  overflow: hidden;
  text-align: center;
  /* background-color: #04AA6D; */
}

.quickbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.quickbar a:hover{
  background-color: dodgerblue;
  color: white;
}

.quickbar .content {
  overflow: auto;
  margin: auto;
  /* overflow:scroll; */
  /* height: 100px; */
}
