@import '../css/commstyle.css';

.sidenav {
  height: 100%;
  width: var(--sidenavwidth);
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 0.9;
  /* border-right-style: groove; ridge double inset outset groove */
  /* border-width: thick; */
  border-right: thick groove;
}

.sidenav:hover {
  width: 250px;
  color: white;
}

.sidenav a.howto {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: inherit; /* #818181; */
  display: block;
  text-align: left;
  /* transition: 0.3s; */
}

.sidenav a.howto:hover {
  /* color: #f1f1f1; */
  background-color: dodgerblue;
  color: white;
}

.sidenav .note {
  /* display: block; */
  width: inherit;
  font-size: 0.8em;
  text-align: center;
  color: inherit;
  position: fixed;
  bottom: 10px;
  display: block;
  overflow: hidden;
  line-height: 10px;
}

.sidenav a.referto {
  font-size: 0.8em;
  color: inherit;
}


/* .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
} */

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
